OPENAI_API_KEY=openai의 API Key
OPENAI_API_MODEL= openai의 API Model
MONGO_DB_URL=몽고디비 URL
MYSQL_DB_HOST=MYSQL Host
MYSQL_DB_PORT=MYSQL Port
MYSQL_DB_DATABASE=MYSQL 데이터베이스명
MYSQL_DB_USERNAME=MYSQL 유저명
MYSQL_DB_PASSWORD=MYSQL 패스워드